/*.block-link {
    display: block;

}*/

.card-deck {
    /*column-count: 2;*/
    display: flex;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}

.jumbotron {
    background-color: floralwhite;
}


li {
    color:black;
}


.login-page .card.card-hidden {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}
.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}