<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/assets/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <title>Final Challenge</title>
    <!--Sunny-->

    <!--Addis-->
    <link href="/assets/css/default.css" rel="stylesheet"/>
    <link href="/assets/css/fonts.css" rel="stylesheet"/>
</head>

<body>
<div th:replace="base :: navlinks"></div>
<div id="wrapper2">
    <br />
    <!--<div class="jumbotron jumbotron-fluid">-->
    <div class="container" align="center">
        <div class="card card-hidden col-md-8 col-sm-6 col-md-offset-4 col-sm-offset-1">
            <br />
            <h4 class="header text-center">User Registration</h4>
            <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}" />

                <div>
                    <label id="labelname">Name</label>
                    <input type="text" class="form-control" id="textname" th:field="*{name}" placeholder="Enter full name"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div><br/>

                <div>
                    <label id="labelEmail">Email</label>
                    <input type="email" class="form-control" id="emailEmail" th:field="*{email}" placeholder="Enter email"/>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div><br/>
                <div>
                    <label id="labelUsername">Username</label>
                    <input type="text" class="form-control" id="textUsername" th:field="*{username}" placeholder="Enter user name"/>
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div><br/>
                <div>
                    <label id="labelPassword">Password</label>
                    <input type="text" class="form-control" id="textPassword" th:field="*{password}" placeholder="Enter password"/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div><br/>

                <div class="col-3">
                    <button type="submit" class="button button-small">Submit</button>
                </div>
        </form>
        </div>
    </div>
</div>
</body>

</html>