<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8" />
    <title>Final Challenge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <title>Final Challenge</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container" >
        <h5>New User Registration</h5>
        <form action="#" th:action="@{/registeradmin}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}" />

            <div class="col-3">
                <label id="labelname">Name</label>
                <input type="text" class="form-control" id="textname" th:field="*{name}" placeholder="Enter first name"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div><br/>

            <div class="col-3">
                <label id="labelEmail">Email</label>
                <input type="email" class="form-control" id="emailEmail" th:field="*{email}" placeholder="Enter email"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div class="col-3">
                <label id="labelUsername">Username</label>
                <input type="text" class="form-control" id="textUsername" th:field="*{username}" placeholder="Enter user name"/>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <div class="col-3">
                <label id="labelPassword">Password</label>
                <input type="text" class="form-control" id="textPassword" th:field="*{password}" placeholder="Enter password"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div><br/>



            <div class="col-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</div>
</body>

</html>