<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/assets/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <title>Final Challenge</title>
    <!--Sunny-->
</head>
<body>
<div th:replace="Base :: navlinks"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3>All Applicants</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.criteria}"></td>

                <td >
                    <div>
                        <form action="#" sec:authorize="hasAuthority('ADMIN')" th:action="@{/accept/{programid}/{id} (id=${user.id}, programid = ${program.id})}" method="post">
                            <!--<input type="hidden" name="programid" th:value="${programid}"/>-->
                            <button class="btn btn-primary btn-large" type="submit">Accept Student</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <br />
        <br />

        <h6>Students that meet Requirements</h6>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="reqUser : ${reqUsers}">
                <td th:text="${reqUser.name}"></td>
                <td th:text="${reqUser.email}"></td>
                <td th:text="${reqUser.criteria}"></td>

                <td >
                    <div>
                    <form action="#" sec:authorize="hasAuthority('ADMIN')" th:action="@{/accept/{programid}/{id} (id=${reqUser.id}, programid = ${program.id})}" method="post">
                        <!--<input type="hidden" name="programid" th:value="${programid}"/>-->
                        <button class="btn btn-primary btn-large" type="submit">Accept Student</button>
                    </form>
                    </div>


                </td>
                <!--user id and program id-->


            </tr>
            </tbody>
        </table>
        <h6>Students that do not meet Requirements</h6>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="nUser : ${nUsers}">
                <td th:text="${nUser.name}"></td>
                <td th:text="${nUser.email}"></td>
                <td th:text="${nUser.criteria}"></td>

                <td >
                    <div>
                        <form action="#" sec:authorize="hasAuthority('ADMIN')" th:action="@{/accept/{programid}/{id} (id=${nUser.id}, programid = ${program.id})}" method="post">
                            <!--<input type="hidden" name="programid" th:value="${programid}"/>-->
                            <button class="btn btn-primary btn-large" type="submit">Accept Student</button>
                        </form>
                    </div>


                </td>
                <!--user id and program id-->


            </tr>
            </tbody>
        </table>



    </div>
</div>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>