<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Final Challenge</title>

    <link href="/assets/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/fonts.css" rel="stylesheet"/>
</head>

<body>
<div th:replace="Base :: navlinks"></div>
<div id="wrapper2">
    <br /><br />
    <div class="container" align="center">
        <div class="card card-hidden col-md-8 col-md-offset-4 col-sm-offset-1"><br />
            <h3>Application Status</h3><br />
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Program name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="program : ${programs}">
                <td th:text="${program.name}"></td>
                <td th:text="${program.status}"></td>
                <td th:if="${program.status} == 'Accepted'">
                    <form action="#"
                          th:action="@{/attending/{id} (id=${program.id})}"
                          th:object="${program}"
                          method="post">
                        <button class="button button-small" type="submit">Attend Program</button>
                    </form>

                </td>


            </tr>
            </tbody>
        </table>
        </div>
        <br /><br />
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>