<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link href="/assets/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/fonts.css" rel="stylesheet"/>
</head>
<body>
<div th:fragment="navlinks">

    <div id="header-wrapper">
        <div id="header" class="container">
            <!--<div id="logo"> <span class="icon icon-cogs"><img src="/assets/images/cslogo.JPG" width="30px"/></span>-->
            <div id="logo"> <img src="/assets/images/cslogo.jpg" width="50px"/>
                <h1><a href="/">Career Starter</a></h1>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="/" accesskey="1">Homepage</a></li>

                    <li th:class="${classActiveSettings1}" sec:authorize="isAnonymous()"><a accesskey="2" href="/login" >Login</a></li>
                    <li th:class="${classActiveSettings2}" sec:authorize="isAnonymous()"><a accesskey="3" href="/register">Register</a></li>
                    <li th:class="${classActiveSettings3}" sec:authorize="hasAuthority('ADMIN')"><a href="/registeradmin" accesskey="4">New Admin</a></li>
                    <li th:class="${classActiveSettings4}"><a href="/allprograms" accesskey="5">Programs</a></li>
                    <li th:class="${classActiveSettings5}" sec:authorize="hasAuthority('USER')"><a href="/myprograms" accesskey="6">My Programs</a></li>
                    <li th:class="${classActiveSettings6}" sec:authorize="hasAuthority('USER')"><a href="/user/edit" accesskey="7">Edit User Info</a></li>
                    <li th:class="${classActiveSettings7}" sec:authorize="hasAuthority('ADMIN')"><a href="/programssummary" accesskey="8">Summary of Programs</a></li>
                    <li th:class="${classActiveSettings8}" sec:authorize="hasAuthority('USER')"><a href="/user/programs" accesskey="9">Application Status</a></li>
                    <li sec:authorize="hasAnyAuthority('USER', 'ADMIN')"><a href="/logout" accesskey="9">Logout</a></li>
                    <!--<li><a href="#" accesskey="5" title="">Contact Us</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    </div>
    <!--</div>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <h2><a class="nav-link" href="/">Final Challenge</a></h2>
                </li>

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login" >Login</a>
                </li>
                <li sec:authorize="isAnonymous()" th:class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" href="/register">Register</a>
                </li>

                <li sec:authorize="hasAuthority('ADMIN')" th:class="nav-item">
                    <a class="nav-link" href="/registeradmin">New Admin</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/allprograms">Programs</a>
                </li>

                <li sec:authorize="hasAuthority('USER')" class="nav-item">
                    <a class="nav-link" href="/myprograms">My Programs</a>
                </li>

                <li sec:authorize="hasAuthority('USER')" class="nav-item">
                    <a class="nav-link" href="/user/edit">Edit User Information</a>
                </li>

                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                    <a class="nav-link" href="/programssummary">Summary of Programs</a>
                </li>



                <li sec:authorize="hasAuthority('USER')" class="nav-item">
                    <a class="nav-link" href="/user/programs">View Application Status</a>
                </li>

                <li sec:authorize="hasAnyAuthority('USER', 'ADMIN')" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

            </ul>
        </nav>-->
</div>

</body>
</html>