<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <!--<link href="/css/stylesheet.css" rel="stylesheet"/>-->
</head>
<body>
<div th:fragment="navlinks">

        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <h2><a class="nav-link" href="/">Final Challenge</a></h2>
                </li>

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login" >Login</a>
                </li>
                <li sec:authorize="isAnonymous()" th:class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" href="/register">Register</a>
                </li>

                <li sec:authorize="hasAuthority('ADMIN')" th:class="nav-item">
                    <a class="nav-link" href="/registeradmin">New Admin</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/allprograms">Programs</a>
                </li>

                <li sec:authorize="hasAuthority('USER')" class="nav-item">
                    <a class="nav-link" href="/myprograms">My Programs</a>
                </li>

                <li sec:authorize="hasAuthority('USER')" class="nav-item">
                    <a class="nav-link" href="/user/edit">Edit User Information</a>
                </li>

                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                    <a class="nav-link" href="/programssummary">Summary of Programs</a>
                </li>



                <li sec:authorize="hasAuthority('USER')" class="nav-item">
                    <a class="nav-link" href="/user/programs">View Application Status</a>
                </li>

                <li sec:authorize="hasAnyAuthority('USER', 'ADMIN')" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

            </ul>
        </nav>
</div>

</body>
</html>