<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Final Challenge</title>

    <link href="/assets/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/fonts.css" rel="stylesheet"/>
</head>

<body>
<div th:replace="Base :: navlinks"></div>
<div id="wrapper2">
    <br />

    <div class="container" align="center">
        <div class="container" align="center">
            <div class="card card-hidden col-md-8 col-sm-6 col-md-offset-4 col-sm-offset-1">
                <br />
                <h4 class="header text-center">Edit User Profile</h4>
        <form action="#"
              th:action="@{/user/edit}"
              th:object="${user}"
              method="post">
            <div class="col-3">
                <input type="hidden" th:field="*{id}" />
            </div>
            <div class="col-3">
                <input type="hidden" class="form-control" id="textname" th:field="*{name}" placeholder="Enter first name"/>
            </div><br/>

            <div class="col-3">
                <input type="hidden" class="form-control" id="emailEmail" th:field="*{email}" placeholder="Enter email"/>
            </div>
            <div class="col-3">
                <input type="hidden" class="form-control" id="textUsername" th:field="*{username}" placeholder="Enter user name"/>
            </div>
            <div class="col-3">
                <input type="hidden" class="form-control" id="textPassword" th:field="*{password}" placeholder="Enter password"/>
            </div><br/>
            <!---->
            <fieldset>
                <legend>Choose relevant criteria</legend>
                <div th:each="c : ${c}">
            <div class="checkbox" th:if="${c=='workInUs'}">
                <input type="checkbox"    th:field="*{criterias}" th:value="workInUs"  th:checked="${c=='workInUs'}"/> <label id="labelWork"> Are able to work in the US?</label>
            </div><br/>
            <div class="checkbox" th:if="${c=='englishLL'}">
                <input type="checkbox"  th:field="*{criterias}"  th:value="englishLL"  th:checked="${c=='englishLL'}"/><label id="labelLanguage"> Are you in the English Language Learner Program?</label>
            </div><br />

            <div class="checkbox" th:if="${c=='understandOOP'}">
                <input type="checkbox"  th:field="*{criterias}" th:value="${c}"  th:checked="${c=='understandOOP'}"  /><label id="labelOOP"> Do you have basic understanding of Object Oriented Programming?</label>
            </div><br/>

            <div class="checkbox" th:if="${c=='expOOP'}">
                <input type="checkbox"  th:field="*{criterias}" th:value="${c}" th:checked="${c=='expOOP'}" /><label id="labelExp"> Do you have a previous experience in Object Oriented Programming?</label>
            </div><br/>

            <div class="checkbox" th:if="${c=='correctMajor'}">
                <input type="checkbox"  th:field="*{criterias}" th:value="${c}"  th:checked="${c=='correctMajor'}" /><label id="labelMajor"> Is your major Computer Science/Information Systems?</label>
            </div><br/>

            <div class="checkbox" th:if="${c=='recentGrad'}">
                <input type="checkbox"  th:field="*{criterias}" th:value="${c}"  th:checked="${c=='recentGrad'}" /><label id="labelRecentGrad"> Are you graduated within the last 6 years?</label>
            </div><br/>

            <div class="checkbox" th:if="${c=='salaryUnderCutoff'}">
                <input type="checkbox"  th:field="*{criterias}"  th:value="${c}"  th:checked="${c=='salaryUnderCutoff'}"/><label id="labelSalary"> Are you currently earning 42,000 or less?</label>
            </div><br/>

            <div class="checkbox" th:if="${c=='hsGed'}">
                <input type="checkbox"  th:field="*{criterias}" th:value="${c}"  th:checked="${c=='hsGed'}"/><label id="labelGED"> Do you have a high school diploma or GED?</label>
            </div><br/>

            <div class="checkbox" th:if="${c=='interestIT'}">
                <input type="checkbox"  th:field="*{criterias}" th:value="${c}"  th:checked="${c=='interestIT'}"/><label id="labelInterest"> Do you have a strong interest in IT career?</label>
            </div><br/>

            <div class="checkbox" th:if="${c=='comfComp'}">
                <input type="checkbox"   th:field="*{criterias}" th:value="${c}"  th:checked="${c=='comfComp'}"/><label id="labelComputerUsage"> Are you comfortable using computers for everyday purposes?</label>
            </div><br/>

            <div class="checkbox" th:if="${c=='unemployed'}">
                <input type="checkbox"  th:field="*{criterias}" th:value="${c}"  th:checked="${c=='unemployed'}"/> <label id="labelUnemployed"> Are you unemployed with barriers to employment?</label>
            </div><br/>

            <div class="checkbox" th:if="${c=='underemployed'}">
                <input type="checkbox"  th:field="*{criterias}" th:value="${c}"  th:checked="${c=='underemployed'}" /><label id="labelUnderemployed"> Are you underemployed with barriers to better employment?</label>
            </div><br/>
                </div>
            </fieldset>
            <div class="col-3">
                <button type="submit" class="button button-small">Submit</button>
            </div>
        </form>
</div>
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>