<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/assets/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <title>Final Challenge</title>
    <!--Sunny-->

    <!--Addis-->
    <link href="/assets/css/default.css" rel="stylesheet"/>
    <link href="/assets/css/fonts.css" rel="stylesheet"/>
</head>

<body>
<div th:replace="Base :: navlinks"></div>
<div id="wrapper2">
    <br /><br />
    <div class="container" align="center">

        <div class="card card-hidden col-md-8 col-sm-4 col-md-offset-4 col-sm-offset-1" >
            <br />
            <h4 th:text="${program.name}"></h4><br />
            <h6><b>Description</b></h6>
            <span th:text="${program.description}"></span><br/><br/>
            <h6><b>Criteria</b></h6>
            <span th:text="${program.criterias}"></span><br/>

            <br/>

            <div>
                <form action="#" sec:authorize="hasAuthority('USER')" th:action="@{/apply/{id} (id=${program.id})}" method="post">
                <input type="hidden" name="programid" th:value="${programid}"/>
                <button class="button button-small" type="submit" >Apply</button>
                </form>
            </div>


            <!--<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary btn-small typeone " th:href="@{/applicants/{id} (id=${program.id})}" role="button">View Applicants</a><br /><br/>
            <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary btn-small typeone " th:href="@{/accepted/{id} (id=${program.id})}" role="button">View Accepted Students</a><br /><br/>
            <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary btn-small typeone " th:href="@{/attending/{id} (id=${program.id})}" role="button">View Attending Students</a><br /><br/>
-->
            <a sec:authorize="hasAuthority('ADMIN')" class="button button-admin-view " th:href="@{/applicants/{id} (id=${program.id})}" role="button">View Applicants</a><br /><br/>
            <a sec:authorize="hasAuthority('ADMIN')" class="button button-admin-view typeone " th:href="@{/accepted/{id} (id=${program.id})}" role="button">View Accepted Students</a><br /><br/>
            <a sec:authorize="hasAuthority('ADMIN')" class="button button-admin-view typeone " th:href="@{/attending/{id} (id=${program.id})}" role="button">View Attending Students</a><br /><br/>

        </div>

    </div>
</div>
<br /><br />




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>