<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<div th:replace="base :: navlinks"></div>

<div class="container" >
    <h5>New User Registration</h5>
    <form action="#"
          th:action="@{/register}"
          th:object="${user}"
          method="post">
        <div class="col-3">
            <input type="hidden" th:field="*{id}" />
        </div>
        <div class="col-3">
            <label id="labelUserRegistration"><h5>User Registration</h5></label>
        </div>
        <div class="col-3">
            <label id="labelname">Name</label>
            <input type="text" class="form-control" id="textname" th:field="*{name}" placeholder="Enter first name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div><br/>

        <div class="col-3">
            <label id="labelEmail">Email</label>
            <input type="email" class="form-control" id="emailEmail" th:field="*{email}" placeholder="Enter email"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="col-3">
            <label id="labelUsername">Username</label>
            <input type="text" class="form-control" id="textUsername" th:field="*{username}" placeholder="Enter user name"/>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div class="checkbox">
            <input type="checkbox" th:field="*{englishLL}" value="Yes"><label id="labelLanguage"> Are you in the English Language Learner Program?</label>
        </div><br/>

        <div class="checkbox">
            <input type="checkbox" th:field="*{workInUs}" value="Yes"> <label id="labelWork"> Are able to work in the US?</label>
        </div><br/>

        <div class="checkbox">
            <input type="checkbox" th:field="*{understandOOP}" value="Yes"><label id="labelOOP"> Do you have basic understanding of Object Oriented Programming?</label>
        </div><br/>

        <div class="checkbox">
            <input type="checkbox" th:field="*{expOOP}" value="Yes"><label id="labelExp"> Do you have a previous experience in Object Oriented Programming?</label>
        </div><br/>

        <div class="checkbox">
            <input type="checkbox" th:field="*{correctMajor}" value="Yes"><label id="labelMajor"> Is your major Computer Science/Information Systems?</label>
        </div><br/>

        <div class="checkbox">
            <input type="checkbox" th:field="*{recentGrad}" value="Yes"><label id="labelRecentGrad"> Are you graduated within the last 6 years?</label>
        </div><br/>

        <div class="checkbox">
            <input type="checkbox" th:field="*{salaryUnderCutoff}" value="Yes"><label id="labelSalary"> Are you currently earning 42,000 or less?</label>
        </div><br/>

        <div class="checkbox">
            <input type="checkbox" th:field="*{hsGed}" value="Yes"><label id="labelGED"> Do you have a high school diploma or GED?</label>
        </div><br/>

        <div class="checkbox">
            <input type="checkbox" th:field="*{interestIT}" value="Yes"><label id="labelInterest"> Do you have a strong interest in IT career?</label>
        </div><br/>

        <div class="checkbox">
             <input type="checkbox" th:field="*{comfComp}" value="Yes"><label id="labelComputerUsage"> Are you comfortable using computers for everyday purposes?</label>
        </div><br/>

        <div class="checkbox">
              <input type="checkbox" th:field="*{unemployed}" value="Yes"> <label id="labelUnemployed"> Are you unemployed with barriers to employment?</label>
        </div><br/>

        <div class="checkbox">
              <input type="checkbox" th:field="*{underemployed}" value="Yes"><label id="labelUnderemployed"> Are you underemployed with barriers to better employment?</label>
        </div><br/>

        <div class="col-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>

</body>

</html>